.chart {
    background-color: #FF0000;
    border-radius: 5px;
    position: relative;
    width: 30%;
    height: 220px;
}

.customtooltip {
    background-color: #FFF;
    padding: 0 .2em;
    width: 3em;
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.label {
    color: #000;
    white-space: nowrap;
    font-size: .7em;
}

.title {
    position: absolute;
    top: 1.5em;
    left: 1.5em;
    font-weight: 500;
    font-size: .9em;
    color: #FFF;
    opacity: .5;
}
.title strong {
    display: block;
    font-weight: 500;
}

.days {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    margin: auto;
    font-weight: 500;
    color: #FFF;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    opacity: .5;
}