.greetings_section {
    display: block;
    margin-bottom: 5em;
}
.greeting {
    font-weight: 500;
    font-size: 2.5em;
    margin-bottom: .5em;
}

.username {
    color: #FF0101;
}

.datas_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.graphs {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 4em;
}

.cards {
    display: flex;
    width: 21%;
    flex-direction: column;
    justify-content: space-between;
    align-self: stretch;
    margin-bottom: 4em;
}